main {
    display: flex;
    flex: 1;
    align-items: stretch;
    color: azure;
}

.filters{
    width: 20%;
    margin-left: 0px;
    padding: 1rem 0rem 2rem 1rem;
}

main section{
    width: 100%;
    padding: 1rem 15rem 2rem 10rem;
}

.topfilter{
    display: flex;
    align-items: center;
    height: 3rem;
}


.product{
    display: flex;
    align-items:center;
    height: 10rem;
    gap: 1rem;
    background-color: #016d7d;
    border-radius: 1rem;
}

.product img{
 width: 100px;
 height: 90%;
 margin-left: 0.4rem;
 }

 .product h4{
    padding-top: 0.5rem;
    font-weight: normal;
 }

 .product a{
    display: block;
    margin-bottom: 1rem;
 }

 .sale-inf{
    margin-left: auto;
 }

 article{
    margin-bottom: 2rem;
 }

 .text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }